/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.listControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listControls md-list {
  padding-top: 0; }

.listControls md-list-item > p,
.listControls md-list-item > .md-list-item-inner > p,
.listControls md-list-item .md-list-item-inner > p,
.listControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
  .buttonUsage section {
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important; }
  