<div ng-app="myApp.view1" ng-controller="myCtrl">
    <p>{{content}}</p>
    <md-list class="listdemoListControls">
        <!-- <md-list-item>
            <th></th>
            <th>Категория</th>
            <th>Товар</th>
            <th>Цена</th>
        </tr> -->
        <md-list-item ng-repeat="name in things" class="listdemoListControls">
            <div><md-checkbox ng-model="checkboxModel.value" class="listdemoListControls">
            </md-checkbox></div>
            <div class="md-list-item-text">
                <p>{{name.group}}</p>
                <p>{{name.name}}</p>
                <p>{{name.price}}</p>
            </div>
        </md-list-item>
    </md-list>

</div>
