<div ng-app="myApp.view1" ng-controller="myCtrl">
    <!-- <p>{{things}}</p> -->
    <md-list ng-cloak="" class="listControls">
        <md-list-item ng-repeat="name in things" class="listControls">
            <md-checkbox ng-model="name.checked" class="md-secondary"></md-checkbox>
            <div class="md-list-item-text">
                <span>{{name.group}}</span>
                <span>{{name.name}}</span>
                <span>{{name.price}}</span>
            </div>
        </md-list-item>
    </md-list>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button class="md-raised" ng-click="inBuckettest">В корзину</md-button>
        </section>
    </md-content>
</div>
